@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 293 54% 13%;
    --foreground: 21 67% 87%;

    --card: 293 54% 16%;
    --card-foreground: 21 67% 87%;

    --popover: 293 54% 16%;
    --popover-foreground: 21 67% 87%;

    --primary: 299 44% 31%;
    --primary-foreground: 21 67% 87%;

    --secondary: 308 35% 45%;
    --secondary-foreground: 21 67% 87%;

    --muted: 293 54% 20%;
    --muted-foreground: 29 37% 64%;

    --accent: 308 35% 45%;
    --accent-foreground: 21 67% 87%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 21 67% 87%;

    --border: 299 44% 25%;
    --input: 299 44% 25%;
    --ring: 308 35% 45%;

    --radius: 0.625rem;
    
    --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);

    --sidebar-background: 293 54% 13%;

    --sidebar-foreground: 21 67% 87%;

    --sidebar-primary: 299 44% 31%;

    --sidebar-primary-foreground: 21 67% 87%;

    --sidebar-accent: 308 35% 45%;

    --sidebar-accent-foreground: 21 67% 87%;

    --sidebar-border: 299 44% 25%;

    --sidebar-ring: 308 35% 45%;
  }

  .dark {
    --background: 293 54% 13%;
    --foreground: 21 67% 87%;

    --card: 293 54% 16%;
    --card-foreground: 21 67% 87%;

    --popover: 293 54% 16%;
    --popover-foreground: 21 67% 87%;

    --primary: 299 44% 31%;
    --primary-foreground: 21 67% 87%;

    --secondary: 308 35% 45%;
    --secondary-foreground: 21 67% 87%;

    --muted: 293 54% 20%;
    --muted-foreground: 29 37% 64%;

    --accent: 308 35% 45%;
    --accent-foreground: 21 67% 87%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 21 67% 87%;

    --border: 299 44% 25%;
    --input: 299 44% 25%;
    --ring: 308 35% 45%;
    --sidebar-background: 293 54% 13%;
    --sidebar-foreground: 21 67% 87%;
    --sidebar-primary: 299 44% 31%;
    --sidebar-primary-foreground: 21 67% 87%;
    --sidebar-accent: 308 35% 45%;
    --sidebar-accent-foreground: 21 67% 87%;
    --sidebar-border: 299 44% 25%;
    --sidebar-ring: 308 35% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
